/* index.css */

.section {
  color: black;
}

.s0 {
  background-image: url("./images/school.jpg");
  background-size: cover;
}

.s1 {
  background-image: url("./images/temperature.jpg");
  background-size: cover;
}

.s2 {
  background-image: url("./images/dust.jpg");
  background-size: cover;
}

.s3 {
  background-image: url("./images/cafeteria.jpg");
  background-size: cover;
}

/* 섹선 스크롤 색 */
#fp-nav ul li a span {
  background-color: #fff;
}

.s1 h3 {
  display: none;
}
